<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @location.title %>
</p>

<p>
  <b>Description:</b>
  <%= @location.description %>
</p>

<p>
  <b>Lat:</b>
  <%= @location.lat %>
</p>

<p>
  <b>Lon:</b>
  <%= @location.lon %>
</p>

<p>
  <b>User:</b>
  <%= @location.user_id %>
</p>


<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
